.message-container {
    display: flex;
    flex-direction: column;
    border: black solid 0.2em;
    border-radius: 0.5em;
    background-color: white;
    margin: 1em;
    width: fit-content;
    padding: 0.5em;
}

.message-container::-webkit-scrollbar {
    display: none;
}

.message-date {
    font-size: small;
}

.message-owner {
    font-size: large;
}